@model Syspan.Admin.Models.Views.ClienteModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<!-- BEGIN CONTENT -->
<aside class="right-side">
    <!-- BEGIN CONTENT HEADER -->
    <section class="content-header">
        <i class="fa fa-align-left"></i>
        <span>Form Components</span>
        <ol class="breadcrumb">
            <li><a href="index.html">Forms</a></li>
            <li><a href="">Pages</a></li>
            <li class="active">Components</li>
        </ol>
    </section>
    <!-- END CONTENT HEADER -->
    <!-- BEGIN MAIN CONTENT -->
    <section class="content">
        <div class="col-md-6">
            <div class="grid">
                <div class="grid-header">
                    <i class="fa fa-align-left"></i>
                    <span class="grid-title">Horizontal Form</span>
                    <div class="pull-right grid-tools">
                        <a data-widget="collapse" title="Collapse"><i class="fa fa-chevron-up"></i></a>
                        <a data-widget="reload" title="Reload"><i class="fa fa-refresh"></i></a>
                        <a data-widget="remove" title="Remove"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="grid-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Rut, htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EditorFor(model => model.Rut, new { htmlAttributes = new { @class = "form-control"} })
                                @Html.ValidationMessageFor(model => model.Rut, "", new { @class = "text-danger" })

                            </div>
                            @Html.LabelFor(model => model.CodSucursal, htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-11">
                                @Html.EditorFor(model => model.CodSucursal, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CodSucursal, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Remember me</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                    <button type="submit" class="btn btn-default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>   
    
     </section>
        <!-- END MAIN CONTENT -->
</aside>
    @*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>ClienteModel</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Rut, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Rut)
                    @Html.ValidationMessageFor(model => model.Rut)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NombreFantasia, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NombreFantasia)
                    @Html.ValidationMessageFor(model => model.NombreFantasia)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CodSucursal, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CodSucursal)
                    @Html.ValidationMessageFor(model => model.CodSucursal)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Memotecnico, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Memotecnico)
                    @Html.ValidationMessageFor(model => model.Memotecnico)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SaldoMax, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SaldoMax)
                    @Html.ValidationMessageFor(model => model.SaldoMax)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Observacion, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Observacion)
                    @Html.ValidationMessageFor(model => model.Observacion)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
