@model Syspan.Admin.Models.Views.DireccionModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DireccionModel</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdComuna)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdComuna)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdProvincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProvincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdRegion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdRegion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
